:root {
/** Primary **/
  --soft-red: #fe7867;
  --yellow: #fad400;
  --dark-desaturated-cyan: #25564b;
  --dark-blue: #19536b;
  --dark-moderate-cyan: #458c7e;
  
/* Neutral */
  
  --very-dark-desaturated-blue: #23303e;
  --very-dark-grayish-blue: #5a636c;
  --dark-grayish-blue: #818498;
  --grayish-blue: #a7abae;
  --white: #ffffff;
  
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

nav {
  position: relative;
}

.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.nav-inner-container {
  padding: 3.2rem 2.2rem 2rem;
  justify-content: space-between;
}

.nav-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header {
  min-height: 60vh;
  background-image: url('../images/mobile/image-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-family: 'Fraunces', sans-serif;
  color: var(--white);
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.arrow-btn {
  cursor: pointer;
}

.nav-hider {
  display: none;
  margin: 0 2.2rem;
}

.nav-hider.active {
  display: block;
}

.arrow {
  margin-left: auto;
  height: 1rem;
  width: 1rem;
  border-top: 1rem solid transparent;
  border-left: 1rem solid transparent;
  border-right: 1rem solid var(--white);
  border-bottom: 1rem solid var(--white);
}

.nav-links-container {
  justify-content: center;
  background-color: var(--white);
}

.nav-links-container ul {
  list-style: none;
  text-align: center;
  font-size: 2rem;
  font-family: 'Barlow', sans-serif;
  padding: 2rem;
}

.nav-links-container ul li {
  padding: 1.6rem;
}

.nav-link {
  text-decoration: none;
  color: var(--dark-grayish-blue);
}

.nav-link.contact {
  background-color: var(--yellow);
  padding: 1.6rem 3rem;
  border-radius: 2.8rem;
  font-family: 'Fraunces', sans-serif;
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}

/* Main Sections */

.section-container {
  grid-template-columns: 1fr;
}

.section-image {
  width: 100%;
  object-fit: cover;
}

.section-box {
  flex-direction: column;
  justify-content: center;
  font-family: 'Fraunces', sans-serif;
  text-align: center;
  padding: 6.4rem 2.4rem;
}

.section-header {
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}

.section-paragraph {
  color: var(--dark-grayish-blue);
  font-size: 1.8rem;
  font-family: 'Barlow', sans-serif;
  margin-bottom: 3.2rem;
}

.learn-btn {
  text-decoration: none;
}

.underline {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--very-dark-desaturated-blue);
  cursor: pointer;
  text-decoration: none;
  line-height: 0.1rem;
  border-bottom: solid 1rem rgba(250, 212, 0, .5);
  border-radius: 5rem;
  text-transform: uppercase;
}

.section-box.graphic,
.section-box.photography {
  justify-content: flex-end;
  min-height: 60rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 2.4rem;
}

.section-box.graphic {
  background-image: url('../images/mobile/image-graphic-design.jpg');
}

.section-box.graphic .section-header,
.section-box.graphic .section-paragraph {
  color: var(--dark-desaturated-cyan);
}

.section-box.photography {
  background-image: url('../images/mobile/image-photography.jpg');
}

.section-box.photography .section-header,
.section-box.photography .section-paragraph {
  color: var(--dark-blue);
}

.section-box.photography .section-paragraph,
.section-box.graphic .section-paragraph {
  font-size: 1.6rem;
  margin: 0;
  font-weight: 600;
  line-height: 1.5;
}

/* Testimonials Section */

.testimonials {
  text-align: center;
}

.testimonials .section-header {
  font-family: 'Fraunces', sans-serif;
  font-size: 1.6rem;
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 900;
  margin-top: 6.4rem;
}

.testimonials-container {
  flex-direction: column;
  padding: 6.4rem 2.4rem;
}

.testimonial-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.4rem 0;
}

.user-image {
  border-radius: 50%;
  height: 7.2rem;
  width: 7.2rem;
  margin-bottom: 3.2rem;
}

.testimonial-box .section-paragraph {
  line-height: 1.6;
}

.username {
  font-family: 'Fraunces', sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--very-dark-desaturated-blue);
}

.job-title {
  font-family: 'Barlow', sans-serif;
  font-size: 1.4rem;
  color: var(--grayish-blue);
}

/* Image Grid */

.image-grid {
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.gallery-image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

/* Footer */

footer {
  height: 35rem;
  background-color: #90D4C6;
}

.inner-footer {
  max-width: 30rem;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.4rem 4rem;
  margin: 0 auto;
}

.footer-logo {
  height: 3.3rem;
  filter: invert(33%) sepia(85%) saturate(310%) hue-rotate(118deg) brightness(35%) contrast(85%);
  margin-bottom: 4rem;
}

.footer-links {
  width: 100%;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 8.8rem;
}

.footer-link {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--dark-moderate-cyan);
  font-family: 'Barlow', sans-serif;
}

.contact-container {
  justify-content: space-between;
  width: 100%;
  max-width: 16.4rem;
}

/* Attribution */

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* Media Queries */

@media (min-width: 600px) {
  header {
    background-image: url('../images/desktop/image-header.jpg');
  }
}

@media (min-width: 1024px) {

  header {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  /* Main Sections  */
  .section-container {
    grid-template-columns: 1fr 1fr;
  }

  .section-box {
    padding: 0 11rem;
    text-align: left;
  }

  .section-box.transform-brand {
    order: 1;
  }

  .section-image.egg {
    order: 2;
  }

  .section-image.cup {
    order: 3;
  }

  .section-box.standOut {
    order: 4;
  }

  .section-box.graphic {
    order: 5;
  }

  .section-box.photography {
    order: 6;
  }

  .section-box.graphic {
    background-image: url('../images/desktop/image-graphic-design.jpg');
  }

  .section-box.photography {
    background-image: url('../images/desktop/image-photography.jpg');
  }

  /* Client Testimonials */

  .testimonials-container {
    flex-direction: row;
    padding: 6.4rem 2.4rem;
  }

  .testimonials .section-header {
    margin-top: 16rem;
  }

  .testimonial-box {
    padding: 2.4rem;
  }

  /* Gallery Section */

  .image-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}

@media (min-width: 1440px) {
  header {
    min-height: 80rem;
  }


  /* Graphic Design and Photography Section */

  .section-box.photography,
  .section-box.graphic {
    
  }

}
